@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
html {
	scroll-behavior: smooth;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*Navbar section*/
.navbar {
	.navbar-list {
		position: fixed;
		width: 100%;
		top: 0;
		height: 65px;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		list-style: none;
		background-color: black;
		color: white;
		text-decoration: none;
		font-family: "Inter", sans-serif;
		z-index: 2;
		font-size: 1.4rem;
		cursor: pointer;
		element {
			transition: 300 ease;
		}
	}
	.Home {
		transition: 300 ease;
		.navbar-howitworks-element {
			transition: 300 ease;
			font-size: 0.8rem;
			color: rgba(255, 252, 252, 0.6);
		}
		.navbar-about-element {
			transition: 300 ease;
			font-size: 0.8rem;
			color: rgba(255, 252, 252, 0.6);
		}
		.navbar-contact-element {
			transition: 300 ease;
			font-size: 0.8rem;
			color: rgba(255, 252, 252, 0.6);
		}
	}
	.Howitworks {
		transition: 300 ease;
		.navbar-home-element {
			transition: 300 ease;
			font-size: 0.8rem;
			color: rgba(255, 252, 252, 0.6);
		}
		.navbar-about-element {
			transition: 300 ease;
			font-size: 0.8rem;
			color: rgba(255, 252, 252, 0.6);
		}
		.navbar-contact-element {
			transition: 300 ease;
			font-size: 0.8rem;
			color: rgba(255, 252, 252, 0.6);
		}
	}
	.About {
		transition: 300 ease;
		.navbar-howitworks-element {
			transition: 300 ease;
			font-size: 0.8rem;
			color: rgba(255, 252, 252, 0.6);
		}
		.navbar-home-element {
			transition: 300 ease;
			font-size: 0.8rem;
			color: rgba(255, 252, 252, 0.6);
		}
		.navbar-contact-element {
			transition: 300 ease;
			font-size: 0.8rem;
			color: rgba(255, 252, 252, 0.6);
		}
	}
	.Contact {
		transition: 300 ease;
		.navbar-howitworks-element {
			transition: 300 ease;
			font-size: 0.8rem;
			color: rgba(255, 252, 252, 0.6);
		}
		.navbar-about-element {
			transition: 300 ease;
			font-size: 0.8rem;
			color: rgba(255, 252, 252, 0.6);
		}
		.navbar-home-element {
			transition: 300 ease;
			font-size: 0.8rem;
			color: rgba(255, 252, 252, 0.6);
		}
	}
}

/*Home section*/
.home-section {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin: 0 150px;

	.home-section-content {
		width: 50%;
		display: flex;
		flex-direction: column;
		font-family: "Inter";
		gap: 25px;

		.home-section-content-title {
			font-size: 1.8rem;
		}
		.home-section-content-desc {
			font-size: 1.25rem;
		}
		.home-section-login {
			width: 200px;
			height: 50px;
			color: white;
			background-color: #7f39f3;
			border: none;
			border-radius: 20px;
			font-weight: 500;
			font-size: 1.3rem;
			transition: 300ms ease;
		}
		.home-section-login:hover {
			transform: scale(1.1);
		}
	}

	.home-section-image {
		width: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		img {
			transform: scale(0.5);
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

/*How it works Section*/
.howitworks-section {
	.howitworks-section-title {
		text-align: center;
		font-family: "Inter";
		font-size: 2.2rem;
		font-weight: 700;
		color: #7f39f3;
		margin-bottom: 10px;
	}

	.howitworks-section-content {
		display: flex;
		flex-direction: column;
		margin: 0 100px;
	}

	.howitworks-section-content-step {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 300px;
		font-family: "Inter";

		img {
			transform: scale(0.7);
			width: 40%;
		}
		p {
			span {
				display: block;
				font-size: 1.4rem;
				margin-bottom: 10px;
				font-weight: 600;
			}
			font-size: 1.2rem;
			width: 35%;
		}
	}
}

/*About Us*/
.aboutus-section {
	.aboutus-section-title {
		margin-top: 200px;
		text-align: center;
		font-family: "Inter";
		font-size: 2.2rem;
		font-weight: 700;
		color: #7f39f3;
		margin-bottom: 10px;
	}

	.aboutus-section-content {
		height: 450px;
		margin: 0 150px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		.aboutus-section-contnet-img {
			img {
				transform: scale(0.6);
			}
		}

		.aboutus-section-contnet-desc {
			font-family: "Inter";
			font-size: 1.2rem;
		}
	}
}

/*Contact Us*/
.contactus-section {
	.contactus-section-title {
		margin-top: 200px;
		text-align: center;
		font-family: "Inter";
		font-size: 2.2rem;
		font-weight: 700;
		color: #7f39f3;
		margin-bottom: 10px;
	}

	.contactus-section-content {
		height: 450px;
		margin: 0 150px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		.contactus-section-img {
			width: 40%;
			display: flex;
			align-items: center;
			justify-content: center;
			img {
				transform: scale(0.5);
			}
		}

		.contactus-section-form {
			width: 40%;
			font-family: "Inter";
			font-size: 1rem;

			input {
				height: 35px;
				width: 75%;
				outline: none;
				padding: 10px;
				border: none;
				border-radius: 10px;
				font-family: "Inter";
				background-color: #d9d9d9;
			}

			textarea {
				height: 150px;
				width: 75%;
				outline: none;
				padding: 10px;
				border: none;
				border-radius: 10px;
				font-family: "Inter";
				background-color: #d9d9d9;
			}
			label {
				display: block;
				margin-bottom: 2px;
				margin-top: 10px;
			}
			.message-label {
				margin-top: 20px;
			}

			.contactus-section-form-button {
				margin-top: 25px;
				width: 150px;
				height: 35px;
				color: white;
				background-color: #7f39f3;
				border: none;
				border-radius: 20px;
				font-weight: 500;
				font-size: 1.3rem;
				transition: 300ms ease;
			}

			.contactus-section-form-button:hover {
				transform: scale(1.1);
			}
		}
	}
}

/*Auth*/
.Auth-navbar {
	position: fixed;
	width: 100%;
	top: 0;
	height: 65px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	list-style: none;
	background-color: black;
	color: white;
	text-decoration: none;
	font-family: "Inter", sans-serif;
	z-index: 2;
	font-size: 1.4rem;
	cursor: pointer;

	P {
		width: 95%;
		text-align: left;
		transition: 400ms ease;
	}
	p:hover {
		font-size: 1.5rem;
		transform: translateX(-15px);
	}
}

.Auth-section {
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	// border: 2px solid black;
	display: flex;
	flex-direction: column;
	font-family: "Inter";

	.nav-buttons {
		margin-top: 25px;
		width: 100px;
		height: 25px;
		color: white;
		background-color: #7f39f3;
		border: none;
		border-radius: 10px;
		font-weight: 500;
		font-size: 1.3rem;
		transition: 300ms ease;
		margin-right: 10px;
		margin-left: 10px;
	}

	.Auth-header {
		p {
			text-align: center;
			font-size: 2.2rem;
			font-weight: 700;
			color: #7f39f3;
		}
	}
	.Auth-body {
		display: flex;
		flex-direction: column;
		margin: 10px;
		padding-top: 10px;

		/*Opt 1*/
		.Auth-body-Option-std {
			padding-top: 10px;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-around;

			p {
				padding: 10px;
				cursor: pointer;
			}
			.Auth-body-Options-Student {
				width: 50%;
				text-align: center;
				-webkit-border-top-left-radius: 5px;
				-webkit-border-top-right-radius: 5px;
				-moz-border-radius-topleft: 5px;
				-moz-border-radius-topright: 5px;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
				border-left: 1px solid black;
				border-right: 1px solid black;
				border-top: 1px solid black;
			}
			.Auth-body-Options-Admin {
				width: 50%;
				text-align: center;
				border-bottom-right-radius: -5px;
				border-bottom: 1px solid black;
			}
		}

		/*Opt 2*/
		.Auth-body-Option-adm {
			padding-top: 10px;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-around;

			p {
				padding: 10px;
				cursor: pointer;
			}
			.Auth-body-Options-Admin {
				width: 50%;
				text-align: center;
				-webkit-border-top-left-radius: 5px;
				-webkit-border-top-right-radius: 5px;
				-moz-border-radius-topleft: 5px;
				-moz-border-radius-topright: 5px;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
				border-left: 1px solid black;
				border-right: 1px solid black;
				border-top: 1px solid black;
			}
			.Auth-body-Options-Student {
				width: 50%;
				text-align: center;
				border-bottom-right-radius: -5px;
				border-bottom: 1px solid black;
			}
		}
	}

	.Auth-form {
		border-left: 1px solid black;
		border-right: 1px solid black;
		border-bottom: 1px solid black;

		-webkit-border-bottom-right-radius: 10px;
		-webkit-border-bottom-left-radius: 10px;
		-moz-border-radius-bottomright: 10px;
		-moz-border-radius-bottomleft: 10px;
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;
		display: flex;
		flex-direction: column;
		gap: 10px;
		align-items: center;
		padding: 25px;

		label {
			width: 100%;
			text-align: left;
		}
		.auth-form-reg-label {
			margin-top: 15px;
		}
		input {
			height: 35px;
			width: 100%;
			outline: none;
			padding: 10px;
			border: none;
			border-radius: 10px;
			font-family: "Inter";
			background-color: #d9d9d9;
		}
		button {
			margin-top: 25px;
			width: 150px;
			height: 35px;
			color: white;
			background-color: #7f39f3;
			border: none;
			border-radius: 20px;
			font-weight: 500;
			font-size: 1.3rem;
			transition: 300ms ease;
		}
		button:hover {
			transform: scale(1.1);
		}
	}
}

.pagenotfound-section {
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	height: 400px;

	img {
		height: 400px;
		width: 450px;
	}

	p {
		font-family: "Inter";
		text-align: center;
		font-size: 1.6rem;
		font-weight: 700;
		color: #7f39f3;
	}
}

.search-container {
	margin-top: 60px;
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	font-family: "Inter";
	flex-direction: column;
	gap: 1rem;
	padding: 1rem;

	.search-headline {
		text-align: center;
	}

	.search-searchForm {
		display: flex;
		flex-direction: column;
		padding: 2rem;
		border: 1px purple solid;
		border-radius: 10px;
		width: 50%;

		#search_by_name {
			width: 100%;
		}
		select {
			padding: 0.4rem;
		}
		.searcn-addtionaloptions {
			margin-top: 20px;
			display: flex;
			gap: 1rem;
		}

		input {
			padding: 0.6rem;
			border-radius: 5px;
			font-family: "Inter";
			outline: none;
		}

		button {
			margin-top: 25px;
			width: 100%;
			height: 35px;
			color: white;
			background-color: #7f39f3;
			border: none;
			border-radius: 20px;
			font-weight: 500;
			font-size: 1.3rem;
			transition: 300ms ease;
		}
		button:hover {
			transform: scale(1.04);
		}
	}

	.SearchResult-div {
		width: 70%;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 20px;
		place-items: center;
	}
}

.bookCard {
	border: 1px solid #ccc;
	border-radius: 8px;
	padding: 18px;
	min-width: 350px;
	max-width: 500px;
	margin: 0 auto;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

	/* Book card header */
	.bookCard-header {
		font-size: 20px;
		font-weight: bold;
		margin-bottom: 8px;
	}

	/* Book card body */
	.bookCard-body {
		font-size: 14px;
		line-height: 1.5;
		margin-bottom: 16px;
	}

	/* Book card footer */
	.bookCard-footer {
		display: flex;
		justify-content: flex-end;
	}

	/* Download button */
	.bookCard-download-button {
		background-color: #7f39f3;
		color: #fff;
		border: none;
		border-radius: 4px;
		font-size: 14px;
		padding: 8px 16px;
		cursor: pointer;
		transition: 300ms ease;
	}
	.bookCard-delete-button {
		margin-right: 20px;
		background-color: #e23112;
		color: #fff;
		border: none;
		border-radius: 4px;
		font-size: 14px;
		padding: 8px 16px;
		cursor: pointer;
		transition: 300ms ease;
	}

	/* Download button hover effect */
	button:hover {
		transform: scale(1.05);
	}
}

.upload-page {
	margin-top: 75px;
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: "Inter";

	.upload-uploadForm {
		display: flex;
		width: 60%;
		flex-direction: column;

		input {
			margin-bottom: 10px;
			outline: none;
			height: 30px;
			padding: 0.6rem;
		}
		select {
			margin-bottom: 10px;
			height: 30px;
			padding: 0.3rem;
		}
		label {
			margin-bottom: 5px;
		}
		button {
			margin-top: 20px;
			width: 30%;
			background-color: #7f39f3;
			color: #fff;
			border: none;
			border-radius: 4px;
			font-size: 14px;
			padding: 8px 16px;
			cursor: pointer;
			transition: 300ms ease;
		}

		.custom-file-upload {
			display: inline-block;
			padding: 6px 12px;
			cursor: pointer;
			font-size: 16px;
			font-weight: bold;
			color: #fff;
			background-color: #007bff;
			border: none;
			border-radius: 5px;
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
			transition: all 0.3s ease-in-out;
		}

		.custom-file-upload:hover {
			background-color: #0069d9;
			box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
		}

		input[type="file"] {
			display: none;
		}

		input[type="file"]:focus + .custom-file-upload {
			background-color: #0069d9;
			box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
		}
		button:hover {
			transform: scale(1.05);
		}
	}
}
